{% extends 'base.html' %}
{% block title %}{{ article.title }}{% endblock %}
{% block menu %}
        <a class="navbar-brand" href="{% url 'article_update' article.pk %}">Изменить</a>
        <a class="navbar-brand" href="{% url 'article_delete' article.pk %}">Удалить</a>
{% endblock %}
{% block content %}
    <div class="card mt-5" style="width: 18rem;">
  <div class="card-header">
    {{ article.title }}
  </div>
  <ul class="list-group list-group-flush">
        <li class="list-group-item">Description: <pre>{{ article.description }}</pre></li>
        <li class="list-group-item">Status: {{ article.status }}</li>
        <li class="list-group-item">Date: {{ article.date }}</li>
        <li class="list-group-item"><a href="{% url 'article_delete' article.pk %}" >Удалить</a></li>
  </ul>
</div>
{% endblock %}
